body {
    display: flex;
    background-color: rgba(100, 149, 237, 0.7);

    display: flex;
    flex-direction: column;
    
}

.lacquer-regular {
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    font-family: "Lacquer", system-ui;
}

p, ul {
    font-family: "Roboto", sans-serif;
}

ul {
    columns: 2;
}

.box p {
    text-align: center;
}

.headshot {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.container h1 {
    font-size: 40px;
}
.container p {
    font-size: 25px;
}

.row {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.box {
  flex: 1;
  background-color: rgba(255, 141, 161, 0.8);
  margin-right: 20px;
  border-radius: 25px;
  padding: 20px;
  border: 5px solid black;
}

.box h1 {
    text-align: center;
}

.box:last-child {
  margin-right: 0;
}